.wrapper {
  width: 90%;
  max-width: 1728px;
  margin: auto;
}


/* NAVBAR */


.nav-style {
  text-align: right;
}

.nav-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 0;
  padding: 0;
  align-self: center;
  justify-content: flex-start;
}

.logo-li {
  list-style: none;
  margin: 0;
}

.logo img {
  height: 1rem;
}

.nav-li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}

.nav-style a {
  text-decoration: none;
  font-weight: 600;
  color: #16161d;
}

.nav-style a:hover {
  text-decoration: none;
  font-weight: 800;
  color: #16161d;
}

.nav-style hr {
  margin: 0;
}


/* HOME */


.home-container {
  /* background-color: crimson; */
  display: flex;
  flex-direction: column;
}

.big-title {
  font-size: 10vw;
  width: 60%;
  max-width: 60%;
  color: #16161d;
  margin: 0.15em 0;
}

.intro {
  color: #16161d;
  width: 40%;
  max-width: 40%;
  align-self: end;
}

.little-title-1 {
  color: #16161d;
  font-size: 3.3vw;
  margin: 0;
}

.little-title-2 {
  color: #16161d;
  font-size: 2vw;
  margin: 0 0 1.5em 0;
}

.little-title-3 {
  color: #16161d;
  font-size: 1.1rem;
  margin-bottom: 0.2em;
}


/* FOOTER */


.foot-style {
  color: #16161d;
  margin-top: 10rem;
  display: block;
}




/* WEB */




.project-container {
  /* background-color: rgb(209, 32, 171); */
  display: flex;
  margin: 10em 0;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  filter: grayscale(100%);
  transition: filter .4s ease-in-out;
}
.project-container:hover {
  filter: none;
}

.project-desc {
  /* background-color: darkorange; */
  width: 60%;

}

.project-img {
  width: 40%;
}

.project-img img {
    width: 100%;
}

